<div class="">
  <img src="/wordart2.png" />
</div>

<div class="p-4 text-3xl">
  <ul>
    We Do:
    <li>Database Administration</li>
    <li>Container Deployment</li>
    <li>Other Stuff</li>
  </ul>
</div>
