<div class="">
  <img
    alt="Drewh cloud enterprises logo"
    class="max-w-full w-[500px]"
    src="/wordart2.png"
  />
</div>

<div class="p-4">
  <div class="md:text-lg text-3xl">
    <div class="italic text-sm mb-8">
      An enterprise cloud provder for your enterprise projects!
    </div>
    <div class="text-xl">We Do:</div>
    <li>Databases</li>
    <li>Container Deployment</li>
    <li>Static Site Hosting</li>
    <li>Cloud Functions</li>
    <li>Other Stuff</li>
  </div>

  <div class="opacity-65 mt-14">
    For more info and to join the beta, email <a
      class="underline"
      href="mailto:harrisd@smu.edu">harrisd@smu.edu</a
    > or message drew_h on discord
  </div>
</div>
